*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./imgs/cold.jpg) no-repeat center/cover;
}

input,
button,
select,
textarea {
    font: inherit;
}

img,
picture {
    display: block;
    max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

#weather {
    width: 350px;
    border-radius: 10px;
    padding: 30px 20px;
    background: url(./imgs/warm.jpg) no-repeat center/cover;
}
.hot { 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./imgs/hot.jpg) no-repeat center/cover;
}
.hot #weather { 
    background: url(./imgs/hot.jpg) no-repeat center/cover;
}
.cold { 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./imgs/cold.jpg) no-repeat center/cover;
}
.cold #weather { 
    background: url(./imgs/cold.jpg) no-repeat center/cover;
}
.warm { 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./imgs/warm.jpg) no-repeat center/cover;
}
.warm #weather { 
    background: url(./imgs/warm.jpg) no-repeat center/cover;
}
.cool { 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./imgs/cool.jpg) no-repeat center/cover;
}
.cool #weather { 
    background: url(./imgs/cool.jpg) no-repeat center/cover;
}


.search {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0 15px 0 15px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
    transition: 0.25s;
    font-size: 19px;
}

.search:focus {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px 0 15px 0;
    transition: 0.25s;
}

.content {
    text-align: center;
    color: rgba(255, 255, 255, 0.966);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    transition: 0.25s;
}

.capital {
    text-shadow: 2px 2px rgba(245, 245, 245, 0.4);
}

.time {
    font-size: 15px;
    margin: 15px 20px;

}

.temperature {
    font-size: 65px;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: none;
    margin: 0 30px;
    padding: 20px;
}

.short-decs {
    font-size: 40px;
    padding-top: 20px;
    font-weight: 600;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.more-decs {
    display: flex;
    justify-content: space-between;
}

.more-decs div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.visibility {
    float: left;

}
.hide { 
    visibility: hidden;
    opacity: 0;
}